{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1 class="mt-5 mb-3 text-center">Create/Update Schedule</h1>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-sm-4">
            <p style="color: red">
            {{ error }}
            </p>


            <form method="post" class="row" id="scheduleCreationForm">
                {% csrf_token %}
                <div class="col-12 mb-3">
                    <label for="id_name">Name</label>
                    {{ form.name }}
                </div>
                <div class="col-6 mb-3">
                    <label for="id_start_time">Start Time</label>
                    {{ form.start_time }}
                </div>
                <div class="col-6 mb-3">
                    <label for="id_end_time">End Time</label>
                    {{ form.end_time }}
                </div>
                <div class="col-12 mb-3">
                    <label for="id_days">Repeat On:</label>
{#                    {{ form.days }}#}
                    <div class="row">
                        <div class="col-md-6 my-2">
                            {% if "Mon" in form.days.value %}
                                <button type="button" id="Mon" class="btn btn-secondary w-100 day-btn">Monday</button>
                            {% else %}
                                <button type="button" id="Mon" class="btn btn-outline-secondary w-100 day-btn">Monday</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 my-2">
                            {% if "Tue" in form.days.value %}
                                <button type="button" id="Tue" class="btn btn-secondary w-100 day-btn">Tuesday</button>
                            {% else %}
                                <button type="button" id="Tue" class="btn btn-outline-secondary w-100 day-btn">Tuesday</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 my-2">
                            {% if "Wed" in form.days.value %}
                                <button type="button" id="Wed" class="btn btn-secondary w-100 day-btn">Wednesday</button>
                            {% else %}
                                <button type="button" id="Wed" class="btn btn-outline-secondary w-100 day-btn">Wednesday</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 my-2">
                            {% if "Thu" in form.days.value %}
                                <button type="button" id="Thu" class="btn btn-secondary w-100 day-btn">Thursday</button>
                            {% else %}
                                <button type="button" id="Thu" class="btn btn-outline-secondary w-100 day-btn">Thursday</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 my-2">
                            {% if "Fri" in form.days.value %}
                                <button type="button" id="Fri" class="btn btn-secondary w-100 day-btn">Friday</button>
                            {% else %}
                                <button type="button" id="Fri" class="btn btn-outline-secondary w-100 day-btn">Friday</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 my-2">
                            {% if "Sat" in form.days.value %}
                                <button type="button" id="Sat" class="btn btn-secondary w-100 day-btn">Saturday</button>
                            {% else %}
                                <button type="button" id="Sat" class="btn btn-outline-secondary w-100 day-btn">Saturday</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 my-2 mx-auto">
                            {% if "Sun" in form.days.value %}
                                <button type="button" id="Sun" class="btn btn-secondary w-100 day-btn">Sunday</button>
                            {% else %}
                                <button type="button" id="Sun" class="btn btn-outline-secondary w-100 day-btn">Sunday</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="col-sm-5 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'game_server_management/schedule_create_form.js' %}"></script>

{% endblock %}