{% extends 'base.html' %}
{% load boto3_filters %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mx-auto py-5 text-center">
            <h1 class="mb-5 display-3">Schedules</h1>

            {% if not schedules %}

                <div class="row">
                    <div class="col text-center my-3">
                        <a href="{% url 'create_schedule' %}" class="btn btn-success p-4 fs-4">+ Create Your First Schedule</a>
                    </div>
                </div>

            {% else %}

                <div class="row">
                    <div class="col text-end my-3">
                        <a href="{% url 'create_schedule' %}" class="btn btn-success">+ New Schedule</a>
                    </div>
                </div>

                {% for schedule in schedules %}

                    <div class="border rounded-3 p-3 position-relative">
                        <div class="d-flex justify-content-between">
                            <h3>{{ schedule.name }}</h3>
                        </div>
                        <div class="row text-start ms-4">
                            <div class="col-md-6">
                                <p class="mb-1">Start Time: {{ schedule.start_time }}</p>
                                <p class="mb-1">End Time: {{ schedule.end_time }}</p>
                                <p class="mb-1 days-tag">{{ schedule.days }}</p>
                                <a href="{% url 'update_schedule' schedule.id %}" class="stretched-link"></a>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-1"><b>Applies to:</b></p>
                                {% for server in schedule.server_set.all %}
                                    <p class="mb-0">{{ server.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}

        </div>
    </div>
</div>

<script src="{% static 'game_server_management/schedule_list_schedules.js' %}"></script>

{% endblock %}